/* Start Default Theme */
.dropdown-item:hover,.option-box .gear-check
{
    color: rgb(255, 255, 255);
    background-color: #3a3aec;
}
.carousel-indicators .active ,.option-box .color-option ul li
{
    background-color: rgb(58, 58, 236);
}
.span1,.span2,.testimonials .carousel-item span,.footer h3,.footer .copyright span
{
    color:rgb(58, 58, 236);
}

.testimonials .carousel-indicators li.active,.option-box .color-option
{
    border: 2px solid rgb(58, 58, 236);
}
/* End Default Theme */